.sd-rating fieldset {
    flex-direction: column;
    width: 100%;
}

.sd-rating {
    width: 100% !important;
}

.sd-rating fieldset .sd-rating__item {
    width: 200px;
    max-width: 100%;
    cursor: pointer;
}